@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  
  font-weight: normal;
}

button, [type='button'], [type='reset'], [type='submit'] {
  background-color: auto !important;
}